/* ================================================== */
/* CATALOGUE */
/* ================================================== */

.catalogue .heading .para { max-width: 900px; }
.catalogue .grid { grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr)); }

.catalogue .product .image-content {
    overflow: hidden;
    position: relative;
}

.catalogue .product .image-content .para {
    position: absolute;
    bottom: 0;
    z-index: 1;
    
    opacity: 0;
    pointer-events: none;
    
    padding: 20px;
    color: var(--color-bg-main);
    background-color: var(--color-bg-transparent);
    backdrop-filter: blur(3px);

    transition: opacity 0.3s ease-in-out;
}

.catalogue .product .img { transition: transform 0.3s ease-in-out; }

.catalogue .product:hover .image-content .para {
    opacity: 1;
    pointer-events: auto;
}

.catalogue .product:hover .img { transform: scale(1.05); }

/* ================================================== */
/* GOOGLE FORMS */
/* ================================================== */

.google-forms { height: 100vh; }

/* ================================================== */
/* & RESPONSIVENESS */
/* ================================================== */

@media (max-width: 568px) {
    .header .h3 { display: none; }
    .header .list li:not(:first-child) { display: none; }
}